body {
    background-color: #6a717c;
}

h1,
label {
    color: white;
}

a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

a:hover {
    text-decoration: none;
}